<ion-tabs >

  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="home" [hidden]="isAdmin " >
      <ion-icon name="home" ></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="history" [hidden]="isAdmin ">
      <ion-icon name="document"></ion-icon>
      History
    </ion-tab-button>
    <ion-tab-button tab="customer_list"  [hidden]="isAdmin ">
     
      <ion-icon name="person"></ion-icon>
      Customers
    </ion-tab-button>
   
    
    <ion-tab-button tab="chief" [hidden]="isChief">
     
      <ion-icon name="add"></ion-icon>
      Production
    </ion-tab-button>
     <ion-tab-button tab="list_production" [hidden]="isChief">
      <ion-icon name="reorder"></ion-icon>
     List Production
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="settings"></ion-icon>
      Settings
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
