version: "3.9"

services:
  web:
    build: .
    container_name: airfox-web
    ports:
      - "80:80"
    
    networks:
      - app-network
    restart: unless-stopped
  networks:
    app-network:
      external: true