<ion-header >
  <ion-toolbar >
    <ion-title >Stocks</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header style="background-color: blue; color: white;">
      <!-- <ion-card-title  style=" color: white;">Product</ion-card-title> -->
      <ion-card-subtitle  style=" color: white;text-align: center;">Stock Units</ion-card-subtitle>
    </ion-card-header>
    <table class="table table-bordered">
      <thead>
        <tr>
          <!-- <th>Sn.</th> -->
          <th>Product</th>
          <th>Balance (QTY)</th>
          <th>Selling (QTY)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Maandazi</td>
          <td>100</td>
          <td>2000</td>
        </tr>
        <tr>
          <td>Maandazi</td>
          <td>100</td>
          <td>2000</td>
        </tr>
        <tr>
          <td>Maandazi</td>
          <td>100</td>
          <td>2000</td>
        </tr>
        <tr>
          <td>Maandazi</td>
          <td>100</td>
          <td>2000</td>
        </tr>
        <tr>
          <td>Maandazi</td>
          <td>100</td>
          <td>2000</td>
        </tr>
        <tr>
          <td>Maandazi</td>
          <td>100</td>
          <td>2000</td>
        </tr>
        <tr>
          <td>Maandazi</td>
          <td>100</td>
          <td>2000</td>
        </tr>
        <tr>
          <td>Maandazi</td>
          <td>100</td>
          <td>2000</td>
        </tr>
        <tr>
          <td>Maandazi</td>
          <td>100</td>
          <td>2000</td>
        </tr>
      </tbody>
    </table>
  </ion-card>
  <ion-card>
    <ion-card-header style="background-color:chocolate">
      <!-- <ion-card-title  style=" color: white;">Product</ion-card-title> -->
      <ion-card-subtitle style=" color: white; text-align: center;">Stock Value</ion-card-subtitle>
    </ion-card-header>
    <table class="table table-bordered">
      <thead>
        <tr>
          <!-- <th>Sn.</th> -->
          <th>Product</th>
          <th>Balance (Value)</th>
          <th>Selling (Value)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Maandazi</td>
          <td>100</td>
          <td>2000</td>
        </tr>
      </tbody>
    </table>
  </ion-card>
</ion-content>
